@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #2b2b2b;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  color: #2b2b2b;
  margin-bottom: 1rem;
}

.container {
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  text-align: center;
  justify-content: space-between;
}    

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: 0;
}

#results {
  width: 50%;
  text-align: left; 
  text-transform: unset;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6rem;
}

#search-box {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}